<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>
  <div>
   
        
      <h1> Contacts </h1>
     <form method = "POST" class="col-lg-6 col-md-10 col-sm-10">
        <div class="input-group mb-3">
            <span class="input-group-text" id="contact_name">Contact Name</span>
            <input id="contact_name" type="text" class="form-control" placeholder="Contact Name" aria-label="Contact Name" aria-describedly="Contact Name" name="contact_name" 
            value="<%= item.contactName %>" required>
 
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="contact_numner">Contact Numner</span>
            <input id="contact_numner" type="text" class="form-control" placeholder="Contact Numner" aria-label="Contact Number" aria-describedly="Contact Number" name="contact_numner" 
            value="<%= item.contactNumber%>" required>
        </div>

        <div class="input-group mb-3">
            <span class="input-group-text" id="email_address">Email Address</span>
            <input id="email_address" type="text" class="form-control" placeholder="Email Address" aria-label="Email Address" aria-describedly="Email Address" name="email_address" 
            value="<%= item.emailAddress %>" required>
        </div>

        <button type= "submit" id="submitButton" class="btn btn-primary">
            <i class="fas fa-edit fa-lg"></i>Edit
        </button>>
     </form>>
    
    </div>