<!DOCTYPE html>
<html>
  <head>
    <title>Title of the document</title>
  </head>
  <div>
  <body>
    <body >
        
      <h1> Contacts </h1>
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Contact Name</th>
            <th scope="col">Contact Numner</th>
            <th scope="col">Email Address</th>
          </tr>
        </thead>
        <tbody>
          <% for(let count = 0; count < contactList.length; count ++){%>
          <tr>
            <th scope="row"> <%= count +1 %> </th>
            <td><%= contactList[count].contactName %></td>
            <td><%= contactList[count].contactNumber %></td>
            <td><%= contactList[count].emailAddress %></td>
          </tr>
          <% } %>
        </tbody>
      </table>
    </div>